
<h1>PASSWORD GENERATOR</h1>
<div>
  <label>Enter Length</label>
<input (input)= "onChangeLength($event.target.value)"/>

</div>
<div>
  <label> Use letters</label>
  <input (change)="onChangeUseLetters()"  type="checkbox"/>
</div>
<div>
  <label> Use numbers</label>
  <input (change)="onChangeUseNumbers()"type="checkbox"/>
</div>
<div>
  <label> Use symbols </label>
  <input (change)="onChangeUseSymbols()" type="checkbox"/>
</div>
<div>
  <button (click)="onButtonClick()">Generate</button>
</div>
<div>
  <label>Your password is: </label>
  <input [value]="password"/>
</div>


